@import 'stylesheet';

$decisionboxes: 7.6em;
$margin: 1em;
$height_form: 100vh;
$width_form: 100vw;
$container: 8%;
$formulario: 668px;
$full-div: 100%;
.site-navbar {
    background-color: $cor-acesssoria  !important;
}
.titulo{
    font-size: $large ;
}
@media all and (min-width: 768px){
.navbar-right , .btn-primary {
    float: right;
    margin-right: $margin !important;
}}

form.wizard.container {
    margin-left: 0px;
    padding-left: 0px;
}
  
  .wizard {
    padding-top: 1em;
  }
  
  .step {
    margin-right: $container !important;
    border: none;
    background-color: #f1f4f5 !important;
  }
  
  .step[id] {
    position:fixed;
    transition: left .5s ease-out;
    transform: translateZ(0);
  }
  
  .step:not(:target) {
      left:100%;
    padding: 0;
    margin: 0;
  }
  .step:first-child,
  .step:target {
    padding: 0 0em;
  }

 .topo_img{
background-image: url("../img/formularios/question.png");
    width: $full-div;
    height: 400px;
        width: 100%;
    min-height: 300px;
    padding-left: 1.0715rem;
    margin-right: 50px !important;
    padding-right: 14% !important;

 }

 span.aproove {
   background-image: url("../img/formularios/aprovado.png");
      display: inline-block;
    width: $full-div/2;
   height: $decisionboxes;
       background-size: contain;
 }

 span.reject {
background-image: url("../img/formularios/reprovado.png");
     display: inline-block;
    width: $full-div/2;
    height: $decisionboxes;
        background-size: contain;
 }
.step[id] {
    max-width: $formulario;
}

span.esquerda {
    color:black;
    font-size: $large;
}
.header.form{
  margin-bottom:1em !important;
}
span.direita {
    float: right;
}

